<div class="main">
  <div class="row">
    <div class="col">
      Alpha
    </div>
    <div class="col">
      <input type="text" [(ngModel)]="alpha">
    </div>
  </div>


  <div class="row">
    <div class="col">
      Power
    </div>
    <div class="col">
      <input type="text" [(ngModel)]="power">
    </div>
  </div>

  <div class="row">
    <div class="col">
      Epsinon
    </div>
    <div class="col">
      <input type="text" [(ngModel)]="episinon">
    </div>
  </div>

  <div class="row">
    <div class="col">
      Prevlenace
    </div>
    <div class="col">
      <input type="text" [(ngModel)]="prevelance">
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button (click)="check()">Check it </button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      Result
    </div>
    <div class="col">
      <h1>{{result}}</h1>
    </div>
  </div>
</div>
